body {
    margin: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}


.invisible {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.invisible:hover {
    opacity: 1;
}
